<body>
    <h1>New Message</h1>
    <form action="/new" method="POST">
        <label for="message">Message:</label>
        <textarea type="text" placeholder="Message" rows="10" cols="30" name="message"></textarea>

        <label for="sender">Sender:</label>
        <input type="text" placeholder="Sender" name="sender">
        <button>Submit</button>
    </form>
</body>